body
{
	margin: 0 auto;
}


.header
{
	height: 100px;
	background-color: black;
	border: 1px solid black;
}
h1,h3
{
	color: white;
	text-align: center;
}
.footer
{
	height: 60px;
	background-color: black;
	border: 1px solid black;
}

.content
{
	height: 490px;
	
	border: 1px solid black;
}

.content-left
{
	height: 490px;
	width: 200px;
	border: 1px solid black;
	float: left
}

.content-left
{
	height: 490px;
	width: 200px;
	border: 1px solid black;
}

input[type=text]
{
	width: 300px;
	height: 25px;
	border-radius: 10px;
}

input[type=password]
{
	width: 300px;
	height: 25px;
	border-radius: 10px;
}

textarea
{
	width: 300px;
	height: 50px;
	border-radius: 10px;
}

input[type=submit]
{
	width: 100px;
	border-radius: 15px;
	padding: 10px;
}


ul li a
{
	text-decoration: none;
}